<p>
この度はアニスナップに登録いただき、まことにありがとうございます。
<br>
下記URLをクリックしてユーザ登録を完了してください。
</p>
<br>
<p>
▼登録を完了する
<br>
<%= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
</p>
<p>上記リンクからアクセスできない場合はURLをコピー&ペーストしてアクセスしてください。</p>
<br>
<p>
--------------------------------------------------
<br>
アニスナップ <a href="http://172.16.96.80:3000">http://172.16.96.80:3000</a><br>
お問い合わせ <a href="http://172.16.96.80:3000/contacts">http://172.16.96.80:3000/contacts</a><br>
Twitter　<a href="https://twitter.com/tkm_cham">https://twitter.com/tkm_cham</a><br>
運営: つくもかみ<br>
--------------------------------------------------
</p>
