<p>
いつもアニスナップをご利用いただき、まことにありがとうございます。
下記URLをクリックしてメールアドレスの変更を適用してください。
</p>
<br>
<p>▼メールアドレスの変更を適用する
<br>
<%= confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %>
</p>
<p>上記リンクからアクセスできない場合はURLをコピー&ペーストしてアクセスしてください。</p>
<br>
<p>
このメールにお心当たりのない場合やご不明点などございましたら下記のお問い合わせよりご連絡下さい。
<br>
今後ともアニスナップをよろしくお願いいたします。
</p>
<p>
--------------------------------------------------
<br>
アニスナップ <a href="http://172.16.96.80:3000">http://172.16.96.80:3000</a><br>
お問い合わせ <a href="http://172.16.96.80:3000/contacts">http://172.16.96.80:3000/contacts</a><br>
Twitter　<a href="https://twitter.com/tkm_cham">https://twitter.com/tkm_cham</a><br>
運営: つくもかみ<br>
--------------------------------------------------
</p>
