<p>
いつもアニスナップをご利用いただき、まことにありがとうございます。
<br>
パスワードの変更が完了したことをご連絡いたします。
</p>
<br>
<p>
このメールにお心当たりのない場合やご不明点などございましたら下記のお問い合わせよりご連絡下さい。
<br>
今後ともアニスナップをよろしくお願いいたします。
</p>
<p>
--------------------------------------------------
<br>
アニスナップ <a href="http://172.16.96.80:3000">http://172.16.96.80:3000</a><br>
お問い合わせ <a href="http://172.16.96.80:3000/contacts">http://172.16.96.80:3000/contacts</a><br>
Twitter　<a href="https://twitter.com/tkm_cham">https://twitter.com/tkm_cham</a><br>
運営: つくもかみ<br>
--------------------------------------------------
</p>
