// Place all the styles related to the update controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wrapper-manage{
  max-width: 1100px;
  max-width: 1100px;
  margin-left:auto;    /* 左側マージンを自動的に空ける */
  margin-right:auto;   /* 右側マージンを自動的に空ける */
  margin-top: 50px;
  margin-bottom: 50px;
}
