<div class="top-wrapper">
  </div><!--topwrpaeer-->

<div class="login-wrapper"><!--サイド＆＆全体-->

  <div class="login-wrapper-midasi-area">
    <div class="login-wrapper-midasi">登録完了までもう少しです</div>
    </div>




<div class="login-user-help-datails-text">
  メールアドレスに認証メールを送信しました。送られてきたメールのリンクよりアカウントの有効化を行ってください。
</div>

<div class="user-login-help-m2"><%= link_to("/users/confirmation/new") do %>メールが届かない人はこちら<% end %></div>
<div class="login-user-help-datails-text-hr"></div>
</div><!--wrapper-->
