<!--タイトル-->
<% content_for :title do %>
プライバシーポリシー - アニカル
<% end %>
<!--タイトル終了-->

<div class="top-wrapper">
</div><!--topwrpaeer-->


<div class="wrapper"><!--サイド＆＆全体-->


  <div class="wrapper-new-doc-m2"><!--中央絡む-->

    <div class="home-ranking-midasi"><!--スマホ見出し-->
      <h3>プライバシーポリシー</h3>
    </div>

    <div class="contacts-info-area"><!--インフォ-->

      <p>
        アニカル(以下「当サービス」といいます）は、当サービスの利用者（以下「ユーザー」といいます）が投稿した感想やレビュー、マイリストを元に作成したランキングをユーザーに提供したりアニメの視聴記録による
        ユーザー同士のコミュニケーションを目的としたWebサービスとなっております。ユーザーについての個人情報を含む利用者情報の取扱いについて、以下のとおりプライバシーポリシー (以下「本ポリシー」といいます。) を定めます。
        </p>

      <h2>プライバシーポリシーの適用範囲</h2>

      <p>
        本方針はユーザーが当サービスを利用するときに適用されます。
        当サービスのリンクやバナーなどによって他サイトに遷移した場合、遷移先サイトで提供される情報、サービス等について当サービスは責任を負うことができませんので、本方針の適用範囲外とさせていただきます。
        </p>

        <h2>利用目的</h2>
        <p>
          当サービスは、ユーザーから取得する個人情報及び利用者情報の利用目的を特定し明らかにし、その目的以外で個人情報及び利用者情報を利用しません。
          当サービスがユーザーから個人情報及び利用者情報を取得する場合には、以下の目的のために利用させていただきます。
          <br><br>
          ・当サービスの提供、運営、保護および改善のため<br>
          ・お問い合わせ等への受付・回答など対応のため<br>
          ・メンテナンス、重要なお知らせなど必要に応じたご案内のため<br>
          ・利用規約に違反した方の本人特定をし、ご利用をお断りするため<br>
          ・ユーザーがサービス上で目にする広告やコンテンツをそれぞれのユーザー向けにカスタマイズするなど、利便性を向上するため<br>
          ・当サービスにユーザーがアップロードしたコンテンツを利用することについて、アップロードしたユーザーにご連絡するため<br>
          </p>

          <h2>個人情報の第三者提供</h2>
          <p>
            当サービスは、原則としてユーザーの同意を得ることなく第三者に個人情報を開示・提供することはありませんが、以下の場合には開示・提供することができるものとします。
            <br><br>
            ・法令に基づく場合<br>
            ・人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき<br>
            ・当サービスの利用規約でユーザーが同意している場合に該当するとき<br>
            </p>

            <h2>免責事項</h2>
            <p>
              当サービスのコンテンツ・情報につきまして、可能な限り正確な情報を掲載するよう努めておりますが、誤情報が入り込んだり、情報が古くなっていることもございます。当サービスに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
              <br><br>
              個人情報の漏洩等がないよう当サービスは法律その他の規程に基づき適切にサービス運営を行いますが、以下の場合に、第三者が個人情報を取得したことにより発生したトラブルについては免責されるものとします。
              <br><br>
              ・ユーザー自らが本サービス上の機能又は別の手段を用いて他のユーザーに個人情報を明らかにする場合<br>
              ・他のユーザーがサービス上に入力した情報により、期せずして本人が特定できてしまった場合<br>
              ・その他当サービスに過失がないにも拘わらず発生した漏洩等の事故<br>
              </p>

              <h2>個人情報の利用停止等</h2>
              <p>
                当サービスは、ユーザーから、ユーザーの個人情報が、あらかじめ公表された利用目的の範囲を超えて取り扱われているという理由又は偽りその他不正の手段により取得されたものであるという理由により、個人情報保護法の定めに基づきその利用の停止又は消去（以下「利用停止等」といいます）を求められた場合において、そのご請求に理由があることが判明した場合には、ユーザーご本人からのご請求であることを確認の上で、遅滞なく個人情報の利用停止等を行い、その旨をユーザーに通知します。但し、個人情報保護法その他の法令により、当サービスが利用停止等の義務を負わない場合は、この限りではありません
                </p>

                <h2>その他</h2>
                <p>
                  ユーザーご自身の情報を最新かつ正確にご提供いただけない場合には、ユーザーは適正なサービスが受けられないことがありますのでご注意ください。
</p>

<div class="privacy-selection">
  2019年12月3日　制作・施行<br>
  アニカル
  </div>
      </div><!--インフォ-->


</div><!--中央絡む終了-->


  <div class="wrapper-new-doc-m3"><!--サイドバーカラム-->
    <%= render partial:'/sidebar/sidebar_post' %>
    </div><!--サイドバーカラム終了-->


</div><!--wrapper-->
